.title {
  margin-left: 5%;
  font-size: x-large;
  block-size: auto;
}
.qr-code {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nom-personne {
  text-align: center;
  font-size: xx-large;
}

.liste {
  text-align: center;
  font-size: x-large;
}
