.picture {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

.name {
  font-size: XX-large;
  text-align: center;
}

.surname {
  font-size: large;
  text-align: left;
}

.liste-perso {
  font-size: large;
  text-align: left;
}