.photo_pr {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

.name_pr {
  font-size: x-large;
  text-align: center;
}

.liste_current_pr {
    font-size: large;
    text-align: left;
    margin-left: 5%;
  }
  

.surname_pr {
  font-size: large;
  text-align: left;
  margin-left: 5%;
}


.description_pr {
  font-size: medium;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.shiney {
    font-size: medium;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  }
