.warning {
    text-align: center;
  }

.icon-add{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.picture-edit {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
  }